.section{display:none}
.section.active{display:flex}

/* tiny right-side scrollbar */
#chatArea{
overflow-y:auto;
scrollbar-width:thin;
}

#chatArea::-webkit-scrollbar{width:6px;}
#chatArea::-webkit-scrollbar-thumb{
background:#555;border-radius:10px;
}

.video-card{
background:#1f1f1f;
border-radius:12px;
padding:16px;
transition:0.2s;
}
.video-card:hover{background:#2a2a2a;}